programs:
	ls_big:
		cmd: "/bin/ls -laR /"
		numprocs: 2
		umask: 022
		workingdir: /Users/dvdovenk
		autostart: true
		autorestart: unexpected
		exitcodes: 0, 1, 3
		startretries: 3
		starttime: 5
		stopsignal: TERM
		stoptime: 3
		stdout: stdout_1
		stderr: stderr_1
		env:
			USER: skavunen
			ANSWER: 42
	cat_new:
		cmd: "/bin/cat -efR"
		numprocs: 5
		umask: 077
		workingdir: /Users/dvdovenk
		autostart: false
		autorestart: never
		exitcodes: 0
		startretries: 3
		starttime: 12
		stopsignal: USR1
		stoptime: 4
		stdout: stdout_2
		stderr: stderr_2
